{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock  %}
{% block head %}
<style>
    body {background-color:#191918;}
    .order{
        margin-top: 100px;
    }
    .order_head{
        color: #fff;
        padding: 20px;

    }
    .strip{
        background: #fff;
    }
  </style>
{% endblock  %}
{% block body %}
    <!-- end header -->


    <!--login-->
    <div class="container col-8 order" style="margin-top:200px;margin-bottom: 100px; height:auto; width:100%;">
       <form method="POST" enctype="multipart/form-data">
       {% csrf_token %}
           <div class="form-group">
                <label for="exampleInputEmail1" style="color:#fff;"> Write Your Title</label>
                <input name="title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="textHelp" placeholder="Enter Title">
                
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1" style="color:#fff;">Write Your Post </label>
                <textarea name="post" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <span></span>
            <input name="bpimg" type="file">
            <br><br>
            <button type="submit" class="btn btn-warning">Post</button>
       </form>
    </div>


    <!--end Order-->



     <!-- footer -->
{% endblock  %}