{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock  %}
{% block head %}{% endblock  %}
{% block body %}
    <!-- end header -->
<div class="yellow_bg">
   <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Our Blog</h2>
                    
                  </div>
               </div>
            </div>
          </div>
</div>

<!-- blog -->
<div class="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <i><img src="{% static 'images/title.png' %}" alt="#"/></i>
          <h2>Our Blog</h2>
          <span>when looking at its layout. The point of using Lorem</span>
        </div>
      </div>
    </div>
    <div class="row mb-5">
    {% for i in blog %}
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-3 mar_bottom">
        <div class="blog_box">
          <div class="blog_img_box">
            <figure><img src="{{i.image}}" alt="#"/ style="height:300px;">
             <span>{{i.date}}</span>
            </figure>
          </div>
          <h3>{{i.title}}</h3>
          <p>{{i.post}}</p>
        </div>
      </div>
    {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- end blog -->


{% endblock  %}