{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock  %}
{% block head %}
<style>
    body {background-color:#191918;}
    .order{
        margin-top: 100px;
    }
    .order_head{
        color: #fff;
        padding: 20px;

    }
    .strip{
        background: #fff;
    }
  </style>
{% endblock  %}
{% block body %}
    <!-- end header -->


    <!--Order-->
    <div class="container col-md-5 order" style=" margin-top:200px;margin-bottom: 100px; height:auto; width:100%; text-align:center;">
        <h1 align="contact"  class="order_head">Your Order</h1><hr class="strip">
        <form class="pt-5" method="POST" action="{% url 'contact' %}">
             {% csrf_token %}
                
            <button type="submit" style="width:200px;display:block;margin:0 auto; height:50px;">Order</button>
        </form>
    </div>


    <!--end Order-->



{% endblock  %}