{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock  %}
{% block head %}{% endblock  %}
{% block body %}
    <!-- end header -->
    
    <div class="yellow_bg">
   <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Our Recipes</h2>
                    
                  </div>
               </div>
            </div>
          </div>
</div>
    <!-- section -->
    <section class="resip_section">
        <div class="container">
            <div class="row">
         <div class="col-md-12">
       <div class="ourheading">
    <h2>Our Recipes</h2>
  </div>
</div>    
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="owl-carousel owl-theme">

            {% for i in rep %}
                <div class="item">
                    <div class="product_blog_img">
                        <img src="{{i.img}}" alt="#" />
                    </div>
                    <div class="product_blog_cont">
                        <h3>{{i.name}}</h3>
                        <h4><span class="theme_color">$</span>{{i.price}}</h4>
                        <button data-name="{{i.name}}" data-price="{{i.price}}"data-id="{{i.id}}" id='cart' class="btn btn-warning">Add To Cart</button>
                    </div>
                </div>
            {% endfor %} 

            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>
{% endblock  %}