{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock  %}
{% block head %}
<style>
    body {background-color:#191918;}
    .order{
        margin-top: 100px;
    }
    .order_head{
        color: #fff;
        padding: 20px;

    }
    .strip{
        background: #fff;
    }
  </style>
{% endblock  %}
{% block body %}
    <!-- end header -->


    <!--login-->
    <div class="container col-6 order" style="margin-top:200px;margin-bottom: 100px; height:auto; width:100%;">
    {% if error %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{error}}!</strong> You should check.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endif %}
       <form method="POST">
       {% csrf_token %}
           <div class="form-group">
                <label for="exampleInputEmail1"> Enter Your Email</label>
                <input name="email" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="textHelp" placeholder="Enter email">
                
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Enter Your Password</label>
                <input name="password" type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Password">
                
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Confirm Your Password</label>
                <input name="confirmpassword" type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Confirm Password">
                
            </div>
            <button type="submit" class="btn btn-warning">Register</button>
       </form>
    </div>


    <!--end Order-->



     <!-- footer -->
{% endblock  %}